@keyframes turning {
  0% {
    border-radius: 0 0 0 0;
    transform: rotate(0deg);
  }

  25% {
    border-radius: 50% 0 0 0;
    transform: rotate(45deg);
  }

  45% {
    border-radius: 50% 50% 0 0;
    transform: rotate(90deg);
  }

  75% {
    border-radius: 50% 50% 50% 0;
    transform: rotate(135deg);
  }

  100% {
    border-radius: 50% 50% 50% 50%;
    transform: rotate(180deg);
  }
}

div {
  width: 200px;
  height: 200px;
  background-color: pink;
  margin-left: 550px;
  margin-top: 200px;
  animation: turning 2s ease infinite alternate-reverse;
}
